.centered-intro {
    text-align: center;
}

#body1 {
    height: 100%;
    width:100%;
    background-image: url("https://images.unsplash.com/photo-1531805140375-6d71f0fe4763?ixlib=rb-1.2.1&auto=format&fit=crop&w=2010&q=80")
}

#subtitle {
    margin-bottom: 100px;
}

#body2 {
    height: 100%;
    width:100%;
    background-image: url("https://images.unsplash.com/photo-1549946273-c90e118d4142?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80")
}
#middle-stuff {
    text-align: center;
}

#projects {
justify-content: space-evenly;
align-items: center;
}

.description {
    width: 30%;
}