header {
  height: 300px;
  background-color: lightblue;
  padding: 15px;
}

body {
  border: 20px solid slategrey;
  border-style: outset;
  height: 100vh;
}

header {
  border: 30px solid steelblue;
}

#index-greeting {
  text-align: center;
  padding: 50px;
}

#projects-title {
  text-align: center;
  padding: 50px;
}

#projects-main-container {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

#dog-adoption {
  text-align: center;
  width: 450px;
}

#small-business {
  text-align: center;
}

#about-greeting {
  text-align: center;
  padding: 50px;
}

#about-main-container {
  position: fixed;
  bottom: 0px;
}
